/* The side navigation menu */
.topNav {
  width: 100%; /* 0 width - change this with JavaScript */
  height: 35px;
  top: 0;
  position: fixed;
  background-color: #fcfcfc2a; /* Black*/
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* The navigation menu links */
.topNav a {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.topNav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.topNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .topNav {
    padding-top: 15px;
  }

  .topNav a {
    font-size: 10px;
  }
}