.soundBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.07);
}

.progress {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.15);
}

.controlBar {
  display:flex;
  justify-content: center;
}

.control {
  display:flex;
  background-color: #003db7;
  margin: 10px;
}

.title {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  margin: 10px;
  padding: 5px 40px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {opacity: 100%}
  50% {opacity: 20%}
  100% {opacity: 100%}
}






.bottomBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  overflow: hidden; /* Disable horizontal scroll */
}

.progressBar {
  height: 3px;
  background-color: #5d5d5d;
}

.currentBar {
  width: 0;
  height: 3px;
  background-color: #723333;
}

/* The bottom navigation menu */
.bottomNav {
  background-color: rgba(252, 252, 252, 0.16); /* Black*/
  text-align: center;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

/* The navigation menu links */
.bottomNav a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  cursor: default;
}

/* When you mouse over the navigation links, change their color */
/* .bottomNav a:hover {
  color: #f1f1f1;
} */

/* Position and style the close button (top right corner) */
.bottomNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.bottomNav .barButtonArea {
  width: 110px;
}

.barButtonArea a:hover{
  color: #f1f1f1;
}

.bottomNav .titleArea {
  width: 40%;
}

.line {
  width: 1px;
  height: 60%;
  background-color: beige;
  opacity: 50%;
}

.titleArea a {
  font-size:medium;
  color: rgb(0, 0, 0);
  text-align: center;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {opacity: 100%}
  50% {opacity: 20%}
  100% {opacity: 100%}
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .bottomNav {
    padding-top: 15px;
  }

  .bottomNav a {
    font-size: 18px;
  }
}